#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: aqua;
    top: 100px;
    position: relative;
}

#box2{
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: rgb(237, 12, 12);
}

@media screen and (max-width: 480px) {
    #box1{
        border: 1px solid;
        height: 300px;
        width: 300px;
        background-color: rgb(225, 13, 168);
        top: 100px;
        left: 200px;
        position: fixed;
    }
    body {
        background-color: bisque;
    }

    p {
        font-size: large;
    }
}